/* app css stylesheet */

[ng-cloak] {
    display: none;
}

body {
    background-color: #000;
    margin: auto 50px;
    font-family: Helvetica, Arial, sans-serif;
}

.captionLable {
    position: relative;
    color: #fff;

}

.captionContent {
    float: left;
    max-width: 150px;
    margin: 10px;
    overflow-wrap: break-word;
    text-shadow: 1px 1px #000;
}

.photoContainer {
    height: 250px;
    width: 150px;

}

.container {
    display: inline-block;
    margin: auto auto;
    position: relative;
}



h1 {
    color: #fff;
}

.view2Container {
    position: relative;

}

.view2Poster {
    float: left;
    width: 400px;

}

.imageMargin {
    height: 550px;
    width: 350px;
}

.imageMarginLabel {
    color: #fff;
    float: left;
    width: 550px;
}

.background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: auto auto;
    background-position: center;
    -webkit-filter: grayscale(0%);
 }

.background img {
    border: 1px solid #fff;
}


.photoContainerOutside {
    margin: 10px;
    min-width: 250px;
    cursor: pointer;
    filter: none;
    -webkit-filter: grayscale(0);

}