<div class="background"
     style="background-image: url(http://image.tmdb.org/t/p/original/uHeMMJIZRVjeS2WIFcxBCdCTdmk.jpg?api_key=1bf0ee332fc7b032ae03582ee854cf55);">

    <div class="container" ng-repeat="i in list  | filter:{poster_path: ''}">

        <div class="photoContainerOutside">
            <span class="photoContainerInside" ng-click="description(i.id)"> <img
                    src="http://image.tmdb.org/t/p/original/{{i.poster_path}}?api_key=1bf0ee332fc7b032ae03582ee854cf55"
                    class="photoContainer"></span>

        </div>
        <div class="captionLable">
            <div class="captionContent"><strong>{{i.title}}</strong> <br> Opens: {{i.release_date  | date:shortDate}}</div>

        </div>

    </div>

</div>
